.typewriter {
    display: inline;
    white-space: pre-wrap;
}

.cursor {
    display: inline-block;
    margin-left: 2px;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%,
    45% {
        opacity: 1;
    }

    46%,
    100% {
        opacity: 0;
    }
}